<nav class="navbar navbar-expand-lg p-3">
    <div class="container-fluid">
      <a class="navbar-brand" href="/home">CREDI-APP</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <div class="btn-group">
              <button type="button" class="btn btn-nav dropdown-toggle" data-bs-toggle="dropdown"
                aria-expanded="false">
                Autos
              </button>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="/">Nuevos</a></li>
                <li><a class="dropdown-item" href="/">Semi-nuevos</a></li>
              </ul>
            </div>
          </li>
          <li class="nav-item">
            <div class="btn-group">
              <button type="button" class="btn btn-nav" href="/">
                Opiniones
              </button>
            </div>
          </li>

          <li class="nav-item">
            <div class="btn-group">
              <button type="button" class="btn btn-nav" href="/">
                Calcular
              </button>
            </div>
          </li>

          <li class="nav-item">
            <div class="btn-group">
              <button type="button" class="btn btn-nav dropdown-toggle" data-bs-toggle="dropdown"
                aria-expanded="false">
                <span class="material-icons">supervised_user_circle</span>
              </button>
              <ul class="dropdown-menu dropdown-menu-end">
                <li><a class="dropdown-item" href="/">1</a></li>
                <li><a class="dropdown-item" href="/">2</a></li>
                <li><a class="dropdown-item" href="/">3</a></li>
              </ul>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  