
.navbar{
    position: relative;
      width: 100%;
      background-color: rgb(46, 47, 99);
}
button{
    color: white;
}
button:focus{
    color: rgb(247, 204, 151);
}
button:hover{
    color: bisque;
}
.navbar-brand{
    color: bisque;
    font-size: 30px;
    font-weight: bold;
}