<app-toolbar></app-toolbar>
<header style="background-image: url('./assets/image/auto2.jpg')">
  <div class="container">
    <div class="texto1">
      <div class="tittle font-weight-bold" style="color: white;">
        Abre las puertas a una experiencia revolucionaria en la adquisición de automóviles.
      </div>
    </div>
  </div>
  <div class="d-grid gap-2 d-md-flex justify-content-md-end">
    <button
      class="btn btn-regist me-md-2 font-weight-bold"
      routerLink="/"
      type="button"
      style="font-size: 24px; border: 2px solid black; border-radius: 5px;"
    >
      Iniciar
    </button>
  </div>
</header>

<main>
  <div class="row py-5" id="row-destinos">
    <div class="container">
      <div class="texto">
        <h1 style="color: rgb(80, 73, 73)" class="font-weight-bold">
          Ventajas de usar CREDI-APP
        </h1>

        <p>
          <mat-icon>check_circle</mat-icon>Ten la posibilidad de renovar tu auto.
          <br /><mat-icon>check_circle</mat-icon>Cuotas bajas.
          <br /><mat-icon>check_circle</mat-icon>Al finalizar el crédito podrás renovar tu auto por otro o mantener el actual.
          <br /><mat-icon>check_circle</mat-icon>Financia autos nuevos y semi-nuevos.
        </p>
      </div>

      <img src="./assets/image/auto3.jpg" />
    </div>
  </div>

<footer>
  <div class="col">
    <h2>CREDI-APP</h2>
  </div>
  <div class="col"></div>
  <div class="col">
    <h2>Social Media</h2>
    <ul style="padding: 0%;display:flex" class="redes">
      <i class="fa-brands fa-facebook"></i>
      <i class="fab fa-twitter"></i>
      <i class="fab fa-instagram"></i>
    </ul>
  </div>
  <div class="col"></div>
  <div class="col">
    <h2>Disponible en:</h2>

    <img src="./assets/image/googleplay.png" alt="descargalo en play store" />
    <br />
    <img src="./assets/image/appstore.png" alt="descargalo en app store" />
  </div>
</footer>
